#countdown {
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: repeat(4, minmax(60px, auto));
    margin: auto;
    padding: 20px 100px;
    width: clamp(30%, 40%, 80%);
    border-radius: 10px;
    text-align: center;
    border: 2px solid #8c92ac;
    background-color: #291d42;
    justify-content: center;
}

.countdownItem {
    width: 60px;
    padding: 5px;
    font-size: 2.5rem;
    border: 2px solid #8c92ac;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.countdownLabel {
    color: white;
    text-align: center;
    width: 60px;
    padding: 5px;
    font-size: 1.5rem;
}