.statCard {
    max-width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 150px 60px;
    /*padding: clamp(100px, 15%, 400px) clamp(50px, 10%, 400px);*/
    text-align: center;
    color: white;
    background-color: #291d42;
    border: 2px solid #8c92ac;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 0.2rem black);
}

/*cool green is #a1cca5 to go with this purple theme*/